#main {
  #background-color: #7CEAC6;
}
#websiteborder1 {
  background-color: #58A58C;
  border-radius: 50px;
  border: dashed 1px #84D5BB;
  padding: 10px;
}
.box1 {
  background-color: #6AC3A6;
  border-radius: 3px;
  border: solid 3px #09885F;
  padding: 10px;
}
img {
  width: 300px;

}
